<div class="float-sidebar">
  <div class="container-fluid">
    <div class="row row-cols-auto menu-items">
      <div class="menu-item col">
        <a href="{{ '/' | absolute_url }}">
          <i class="fas fa-home"></i>
          <span>Home</span>
        </a>
      </div>
      <div class="menu-item col">
        <a href="{{ '/publications' | absolute_url }}">
          <i class="fas fa-book"></i>
          <span>Publications</span>
        </a>
      </div>
      <div class="menu-item col">
        <a href="{{ '/public/files/cv.pdf' | absolute_url }}">
          <i class="fas fa-file"></i>
          <span>CV</span>
        </a>
      </div>
    </div>
  </div>
</div>
